.App {
  text-align: center;
}

.App-header {
  background-color: #9e9d9d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: rgb(0, 0, 0);
}

.paragraph {
  max-width: 75%;
  padding-left: 0%;
}
